{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'payment.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class='card-failed'>
        <div class='failed'>
            <span class="material-icons">
                cancel
            </span>
        </div>
        <h1>
            Payment <br> Failed
        </h1>
        <p>
            {{ statement }}.
        </p>
        <div>
            Return
            <a href="{% url 'index' %}">Home</a>
        </div>
    </div>

</body>

</html>